/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

div.product {
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 0.5rem;
}
